.msg-container {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 200px;
}
.msg-container p {
    margin: 0px auto;
    font-style: italic;
}
td > a {
    margin: 10px;
}
form button {
    margin: 15px;
}