
<div class="row">
    <div class="col-md-3">
        <div id="expense-total">
            <p class="lead">Total: -</p>
            <b>${{ total }}</b>
        </div>
    </div>
    <div class="col-md-5">
        <div id="expenses-list">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                </tr>
                <tr *ngFor="let expense of project.expenses" class="expense-listing">
                    <td>{{ expense.name }}</td>
                    <td>${{ expense.price }}</td>
                    <td>{{ expense.qty }}</td>
                </tr>
            </table>
        </div>
        <div *ngIf="project.expenses.length == 0" id="list-msg">
            <p><span class="fa fa-exclamation-triangle fa-2x"></span></p>
            <p><i>No expenses...</i></p>
        </div>
    </div>
    <div class="col-md-4">
        <form class="form-horizontal">
            <fieldset>
                <legend>Add Expense:</legend>
                <div class="form-group">
                    <label for="name" class="col-sm-3">Name:</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="newExpense.name" type="text" 
                            id="name" name="name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-sm-3">Price:</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="newExpense.price" type="number"  
                            id="price" name="price" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="qty" class="col-sm-3">Qty:</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="newExpense.qty" type="number"
                            id="qty" name="qty" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" (click)="addExpense()" class="btn btn-success">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    
</div>